*{
      background-color: rgb(173, 211, 173);
      
}
body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
#tituloLogIn{
      color: rgb(2, 42, 2);
      font-size: 60px;
      font-family: monospace;
      background: none;
}
h2{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgb(2, 42, 2);
      font-size: 30px;
      font-family: monospace;
}
label{
      font-size: 20px;
      color: rgb(13, 72, 45);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#usuarioLogin{
      width: 200px;
      height: 20px;
      margin-bottom: 20px;
}
#contrasenaLogin{
      width: 200px;
      height: 20px;
      margin-bottom: 20px;
}
#inicioSesionForm{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 380px;
      height: 500px;
      border-radius: 10px;
      border: 10px solid rgb(2, 42, 2);
  }
#inicioSesion{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 380px;
      height: 300px;
      border-radius: 10px;
      border: 10px solid rgb(2, 42, 2);
}
#bttmInicio{
      margin-top: 9px;
      background-color: rgb(5, 56, 33);
      color: aliceblue;
      width: 180px;
      height: 45px;
      border-radius: 10px;
      font-size: 15px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border-color: rgb(6, 29, 14);
}
#bttmInicio:hover{
      background-color: rgb(123, 175, 140);
      color: black;
      border-color: rgb(88, 152, 105);
}
