* {
    background-color: rgb(173, 211, 173);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tituloMenu {
    color: rgb(2, 42, 2);
    font-size: 60px;
    font-family: monospace;
    background: none;
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    background-color: rgb(5, 56, 33);
    color: aliceblue;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: rgb(6, 29, 14);
}

button:hover {
    background-color: rgb(123, 175, 140);
    color: black;
    border-color: rgb(88, 152, 105);
}